<link rel="stylesheet" href="/css/index.css">

<button onclick="location.href = '/new' ">追加</button>
<div id="list">
  <% @memos.values.each do |array| %>
    <li><a href="memo/<%= array[0] %>"><%= array[1] %></a></li>
  <% end %>
</div>
