<link rel="stylesheet" href="/css/new.css">

<form method="post" action="/memos">
  <input type="text" name="title" autocomplete="off">
  <br>
  <textarea name="text" autocomplete="off" rows="10" cols="80"></textarea>
  <br>
  <button type='submit'>保存</button>
</form>
